@charset "UTF-8";

.navbar {
background:#FFFFFF;
}

.navbar .navbar-center {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

#page_footer {
height: 60px;
background: #f5f5f5;
}
.footer_text{
margin: 20px 0;
color: #777;
}